.trends
	$boxHeight = 400px
	$boxHeightSmall = $boxHeight - 100

	display block
	margin-bottom 205px
	position relative

	.title
		margin-bottom 80px

	&__box
		height $boxHeight
		margin-top 50px
		border-top 2px solid $cyan
		border-bottom 2px solid $cyan
		position relative
		display flex
		align-items center

		+below(1070px)
			height $boxHeightSmall

	&__marker
		position absolute
		width 250px
		height 100%
		top 50%
		left 0
		transform translateY(-50%)

		svg
			size $boxHeight + 135
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			z-index 10

			+below(1070px)
				size $boxHeightSmall + 135

		+below(1070px)
			height $boxHeightSmall

		&:after,
		&:before
			content ''
			position absolute
			width 2px
			height 27%
			left 50%
			transform translateX(-50%)
			background-color $cyan
			z-index -1

		&:before
			top 0

		&:after
			bottom 0

	&__info
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		text-align center
		width 185px
		padding 15px
		background-color rgba($shadeBlue, .6)
		border-radius 20px

		+below(1070px)
			padding 10px
			width 160px

	&__value
		font-size 2.87em
		font-weight 600
		letter-spacing 2px

		+below(1070px)
			font-size 2.2em

	&__aside
		margin-left auto
		position relative
		max-width 350px
		text-align center
		z-index 150

		+below(1070px)
			max-width 300px
			font-size .95em

	+below(920px)
		~/__lead
			display none


	#svg-graph
		position absolute
		left 0
		top 0

	&__controls
		display inline-block
		margin-top 20px

	.tabs
		+below(920px)
			flex-direction column
			border none

			&__button:not(:last-child)
				margin-bottom 15px

			&__button:last-child:after
				display none

