$darkBlue = #00063A
$white = #FFFFFF
$cyan = #9DEFED
$magenta = #6B3CBB
$shadeBlue = shade($darkBlue, 30%)


$pageBg = $darkBlue

$baseTextColor = $white
$baseFontFamily = 'Graphik', Arial, Helvetica, sans-serif
$baseFontSize = 16px
$smallFontSize = 13px

$headingFontSize = 24px
$headingTextColor = $cyan

$contentWidth = 1140px
