.tabs
	position relative
	padding 5px 0 10px
	border-bottom 3px solid #FFFFFF
	display flex
	justify-content center

	&__button
		font-size 19px
		padding-x 12px
		font-weight bold
		background none
		color #FFFFFF
		border none
		white-space nowrap
		transition color .3s
		position relative

		&:focus
			user-select none

		&:last-child:after
			content ''
			position absolute
			left 0
			bottom -13px
			background-color $magenta
			width 100%
			height 3px
			transition transform .35s ease

		for num, index in 4 3 2 1
			&:nth-child({index})[aria-selected='true'] ~ &:last-child:after
				transform translateX(-(num * 100) %)

		&[aria-selected='true']
			color $cyan
