include ../logo/logo

mixin header()
	+b.HEADER.header&attributes(attributes)
		+logo
		+b.H1.title_big._underline 2016 in Review
		+e.P.lead A look back into industry trends and the growth
			br
			| of our merchants, products, and capabilities.

		+b.HR.rule._wide
		block
