.footer
	display block
	text-align center
	padding-bottom 110px

	#year-text
		stroke $aqua
		stroke-width 2px
		font-weight bold
		font-size 3em

	.new-year
		display inline-block
		width 80%
		height auto

	&__socials
		margin-y 50px
