include ../socials/socials
include ../logo/logo

mixin footer()
	+b.FOOTER.footer&attributes(attributes)
		include ../../svg/2017.svg
		+b.H4.title_big._underline Let's make commerce beeter for everyon
		+socials.__socials
		+logo
		block
