.engagements
	display block
	padding-y 70px

	&__list
		display flex
		justify-content space-between
		align-items center
		max-width 82%
		padding-x 110px
		margin-x auto
		position relative

		&:not(:last-child)
			margin-bottom 65px

		&:before
			content attr(aria-label)
			position absolute
			left 0
			top 50%
			font-size 1.12em
			letter-spacing 1px
			text-transform uppercase
			font-weight bold
			transform rotate(-90deg) translateX(-50%)
			transform-origin top left

		+below(1070px)
			max-width 100%

			&:before
				left 15px

		+below(920px)
			padding-right 0
			padding-left 70px

		+below(720px)
			flex-direction column
			padding 0

			&:before
				display block
				font-size 1.45em
				text-decoration underline
				position static
				transform none
				margin-bottom 30px

	&__item
		flex 0 1 170px
		font-size 1rem
		text-align center

		+below(1070px)
			font-size .9rem

		+below(720px)
			margin-bottom 35px

	&__value
		font-size 2em
		font-weight 600
		margin 10px 0 15px
		white-space nowrap

	&__label
		font-size .96em

	&__icon
		display inline-block
		size 3.4em
		fill #ffffff

	&__separator
		margin-top 20px
