mixin promo()
	- var global = getData('global');
	+b.promo&attributes(attributes)
		+b.H2.title_cyan.section__title The ecommerce platform made for you
		+e.row
			+e.content
				+e.H3.heading Your mission control
				+e.P.lead Selling your products in many places should be every bit as simple as selling in one. With Shopify’s ecommerce software, you get one unified platform to run your business with ease.
				+b.UL.list
					+e.item Fully customize your online store
					+e.item Add new sales channels in seconds
					+e.item Manage unlimited products and inventory
					+e.item Fulfill orders in a single step
					+e.item Track sales and growth trends

				+b.link(href='#') Get free resources

			+e.FIGURE.image: img(src="assets/images/grunty-rest.svg", alt="")
		+e.row._reverse
			+e.content
				+e.H3.heading Your brand, your way
				+e.P.lead Establish your brand online with a custom domain name and online store. With instant access to hundreds of the best looking themes, and complete control over the look and feel, you finally have a gorgeous store of your own that reflects the personality of your business.

				+b.link(href='#') See our supported plans

			+e.FIGURE.image: img(src="assets/images/grunty-headset.svg", alt="")
		block
