.socials
	display block
	text-align center

	&__item
		display inline-block
		margin-x 25px

		+below(720px)
			margin-x 15px

	a
		fill transparent
		transition fill .2s ease

		&:hover
			fill $aqua

	&__icon
		size 5.1em

		+below(920px)
			size 4.4em

		+below(720px)
			size 3.8em
