.list
	display block
	padding-left 20px
	position relative
	margin-top 20px
	margin-bottom 30px

	&:before
		content ''
		position absolute
		left 0
		top 0
		height 100%
		width 2px
		background $aqua

	&__item
		color #CCCCCC

		&:not(:last-child)
			margin-bottom 7px
