.title
	color $white
	text-align center
	margin-bottom 60px

	&_cyan
		color $cyan

	&_big
		font-size 4.85em
		max-width 800px
		line-height 1.35

	&_underline
		$titleOffset = 45px
		display inline-block
		position relative
		margin-y ($titleOffset + 75)

		&:before,
		&:after
			content ''
			position absolute
			height 6px
			width 140px

		&:after
			bottom - $titleOffset
			right 0
			background-image linear-gradient(to left, $cyan, $cyan 75%, transparent 75%, transparent calc(75% + 8px), $magenta calc(75% + 8px), $magenta 0)

		&:before
			top - $titleOffset
			left 0
			background-image linear-gradient(to right, $cyan, $cyan 75%, transparent 75%, transparent calc(75% + 8px), $magenta calc(75% + 8px), $magenta 0)

	+below(920px)
		~/_big
			font-size 3.3em

		~/_underline
			&:before,
			&:after
				width 90px
	+below(720px)
		~/_big
			font-size 2.85em

		~/_underline
			&:before,
			&:after
				width 60px

